#para1{
    text-align: center;
    font-weight: 550;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#first{
    text-align:center;
    text-decoration: green overline;
    font-weight: 700;
    font-size: 40px;
}

#second{
    text-align:center;
    text-decoration: red underline;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#para2{
    text-align: center;
    font-weight: 550;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 20px;
}
<!--LOADER-->
.loader{
    width:10px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    transform: 
        rotate(0deg) 
        translateY(calc((100px * -0.5)+(10px * 0.5)));
    animation: spin 1s infinite linear;
}

.loader::before{
    content: "";
    position: absolute;
    inset: calc(10px * -0.5);
    border-radius: 50%;
    background: #fff;
    filter: blur(10px);
    z-index: -1;
}

.loader::after{
    content: "";
    width:10px;
    aspect-ratio: 1;
    position: absolute;
    top:0%;
    left: 50%;
    translate: -50% 0;
    background: conic-gradient(white,
    #66b3ff,
    #001a33 , transparent 65%);
    border-radius: 50%;
    mask: radial-gradient(
        transparent calc(((100px * 0.5)- 10px)- 1px),
        white calc(( 100px * 0.5)- 10px));
}

@keyframes spin {
    to {transform: rotate(-360deg)
    translateY(calc((100px * -0.5)+(10px * 0.5)));}
}
