body{
    text-align: center;
}

div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    align-items:flex-start;
    /* align-content: flex-start; for appling properties of flex items */ 
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
}

#box3{
    background-color:slateblue;
}

#box4{
    background-color:gray;
}

#box5{
    background-color:darksalmon;
}