*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-logo{
    height: 50px;
    width: 110px;
}

.logo{
    background-image: url("Images/Amazon-logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* Box 2 */

.add-fir{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
}

/* Box 3 Search Box */

.nav-search{
    width: 575px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

.nav-search:focus-within{
    border: 2px solid #febd68;
}

.search-select{
    height: 40px;
    width: 50px;
    background-color: #f2f2f2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}


.search-icon{
    width: 55px;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
}

/* Box 4 Language Box */

.lang{
    width: 50px;
}

/* Box 4,5 */

.nav-sign-in{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    font-size: 0.7rem;
}

.nav-account{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Box-6 Cart **/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    padding: 2px;
    font-size: 0.85rem;
    font-weight: 700px;
}

/** Panel **/
.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    font-weight: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops{
    width: 94%;
    font-size: 0.85rem;
}

.panel-ops a{
    color: white;
    display: inline;
    margin-left: 10px;
}

/** Hero Section **/
.hero-section{
    background-image: url("Images/hero_sec.jpg");
    background-size: cover;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-name{
    background-color: white;
    color: black;
    height: 40px;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    bottom: 25px;
}

.hero-name a{
    color: #007185;
}

/** Shop Section **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e9eaf0;
}

.box{
    height: 400px;
    width: 23.7%;
    padding: 20px 0px 15px;
    margin-top: 1rem;
    background-color: white;
}

.box-content1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.upp-box{
    width: 262px;
    height: 130px;
    display: flex;
    margin-top:0px ;
}

.low-box{
    width: 262px;
    height: 150px;
    display: flex;
    margin-top: 25px;
}

.image{
    height: 110px;
    width: 129px;
}

.multi-image{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.image1{
    background-image: url("Images/Pic.jpg");
    background-size: cover;
}

.image2{
    background-image: url("Images/pic-1.jpg");
    background-size: cover;
}

.headset{
    position:absolute;
    top: 656px;
    left: 50px;
    font-size: 8px;
}

.keyboard{
    position:absolute;
    top: 656px;
    left: 180px;
    font-size: 8px;
}

.image3{
    background-image: url("Images/pic-2.jpg");
    background-size: cover;
}

.image4{
    background-image: url("Images/pic-3.jpg");
    background-size: cover;
}

.mice{
    position:absolute;
    top: 803px;
    left: 50px;
    font-size: 8px;
}

.chair{
    position:absolute;
    top: 803px;
    left: 180px;
    font-size: 8px;
}
.see{
    position:absolute;
    top: 830px;
    left: 50px;
}
.shop-section a{
    font-size: 9px;
}

/** MULTI IMAGE STARTS HERE **/
.image6i{
    background-image: url("Images/box-6i.jpg");
    background-size: cover;
    margin-left: 6px;
    margin-right: 6px;
}

.image6ii{
    background-image: url("Images/box-6ii.jpg");
    background-size: cover;
    margin-left: 6px;
    margin-right: 6px;
}

.image6iii{
    background-image: url("Images/box-6iii.jpg");
    background-size: cover;
    margin-left: 6px;
    margin-right: 6px;
}

.image6iv{
    background-image: url("Images/box-6iv.jpg");
    background-size: cover;
    margin-left: 6px;
    margin-right: 6px;
}

.dine{
    position:absolute;
    top: 1103px;
    left: 390px;
    font-size: 8px;
}

.home{
    position:absolute;
    top: 1103px;
    left: 525px;
    font-size: 8px;
}

.kitchen{
    position:absolute;
    top: 1258px;
    left: 390px;
    font-size: 8px;
}

.health{
    position:absolute;
    top: 1258px;
    left: 520px;
    font-size: 8px;
}

.see1{
    position:absolute;
    top: 1300px;
    left: 390px;
}
/** MULTI IMAGE ENDS HERE **/
/** BOOK SECTION STARTS HERE **/

.book-section{
    height: 180px;
    width: 1320px;
    background-color: #ffffff;
    
}

.books{
    height: 80%;
    display: flex;
}

.book{
    height:88%;
    width: 325px;
    margin-left: 1rem;
    background-color: white;
}

.left{
    position: absolute;
    left: 29px;
    top: 1453px;
    background-color: white;
    font-size: 48px;
}

.right{
    position: absolute;
    right: 33px;
    top: 1453px;
    background-color: white;
    font-size: 48px;
}

.book-1{
    background-image: url("Images/book-i.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-2{
    background-image: url("Images/book-ii.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-3{
    background-image: url("Images/book-iii.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-4{
    background-image: url("Images/book-iv.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-5{
    background-image: url("Images/book-v.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-6{
    background-image: url("Images/book-vi.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-7{
    background-image: url("Images/book-vii.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-8{
    background-image: url("Images/book-viii.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-9{
    background-image: url("Images/book-ix.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

.book-10{
    background-image: url("Images/book-x.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}
/** BOOK SECTION ENDS HERE **/
/** MULTI IMAGE STARTS HERE **/

.image5{
    background-image: url("Images/box-10-i.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
}

.image6{
    background-image: url("Images/box-10-ii.jpg");
    background-size: 115%;
    background-repeat: no-repeat;
}

.t-shirt{
    position:absolute;
    top: 1775px;
    left: 385px;
    font-size: 8px;
}

.hat{
    position:absolute;
    top: 1775px;
    left: 538px;
    font-size: 8px;
}

.image7{
    background-image: url("Images/box-10-iii.jpg");
    background-size: 115%;
    background-repeat: no-repeat;
}

.image8{
    background-image: url("Images/box-10-iv.jpg");
    background-size: cover;
}

.fig{
    position:absolute;
    top: 1938px;
    left: 385px;
    font-size: 8px;
}

.mug{
    position:absolute;
    top: 1938px;
    left: 528px;
    font-size: 8px;
}
.see3{
    position:absolute;
    top: 1500px;
    left: 50px;
}
/** MULTI IMAGE ENDS HERE **/