*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-logo{
    height: 50px;
    width: 110px;
}

.logo{
    background-image: url("Images/Amazon-logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* Box 2 */

.add-fir{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
}

/* Box 3 Search Box */

.nav-search{
    width: 575px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

.nav-search:focus-within{
    border: 2px solid #febd68;
}

.search-select{
    height: 40px;
    width: 50px;
    background-color: #f2f2f2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}


.search-icon{
    width: 55px;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
}

/* Box 4 Language Box */

.lang{
    width: 50px;
}

/* Box 4,5 */

.nav-sign-in{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    font-size: 0.7rem;
}

.nav-account{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Box-6 Cart **/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    padding: 2px;
    font-size: 0.85rem;
    font-weight: 700px;
}

/** Panel **/
.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    font-weight: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops{
    width: 94%;
    font-size: 0.85rem;
}

.panel-ops a{
    color: white;
    display: inline;
    margin-left: 10px;
}

/** Hero Section **/
.hero-section{
    background-image: url("Images/hero_sec.jpg");
    background-size: cover;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-name{
    background-color: white;
    color: black;
    height: 40px;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    bottom: 25px;
}

.hero-name a{
    color: #007185;
}

/** Shop Section **/

.shop-section{
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 400px;
    width: 24%;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}

.box-content1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image{
    height: 100px;
    width: 130px;
}

.multi-image{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.image1{
    background-image: url("Images/Pic.jpg");
    background-size: cover;
}

.image2{
    background-image: url("Images/pic-1.jpg");
    background-size: cover;
}

.image3{
    background-image: url("Images/pic-2.jpg");
    background-size: cover;
}

.image4{
    background-image: url("Images/pic-3.jpg");
    background-size: cover;
}