div{
    background-color: #0f1111;
    height: 50px;
    font-size: 25px;
    padding-top: 10px;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 150px;
}
#site{
    color: rgb(228, 231, 24);
    padding-left: 10px;
}

input{
    margin-left:150px;
}

button{
    background-color: #f08804;
    color: white;
}