p{
    height:150px;
    width:400px;
    background-color:rgba(145, 144, 144, 0.705);
    border: 2px solid black;
    text-align: center;
}

div{
    height:50px;
    width: 100px;
    color:rgb(80, 1, 1);
    border: 3px solid black;
    background-color: burlywood;
    /*padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    OR */
    padding: 0px 20px 20px 0px;

}

h1{
    height: 50px;
    width: 200px;
    background-color: violet;
    /*border-style: dashed;
    border-color: brown;
    border-width: 3px;
    OR */
    border: 3px dashed brown;
    text-align: center;
    border-radius: 10px;
    margin:top;
}

button{
    border: 2px solid blueviolet;
    background-color:darkgray;
}