h1{
    height: 40px;
    display: inline-block;
    margin-right: 100px;
    background-color: rgba(255,0,0, 0.5); /* Aplha Channel */
}

#B1{
    height: 100px;
    width: 100px;;
    background-color: blueviolet;
    display: inline;
    /*margin: 10px;
    padding: 10px;
    MARGIN AND PADDING WON'T WORK IN INLINE ATTRIBUTE WHETHER IT'LL WORK IN INLINE-BLOCK ATTRIBUTE*/
}

#B2{
    height: 100px;
    width: 100px;
    background-color:yellowgreen ;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#B3{
    height: 100px;
    background-color: tomato;
    display:none;
    /* NONE ATTRIBUTE HIDES THE OBEJECT FROM THE WEBSITE*/
}

#B4{
    height: 100px;
    background-color:darkmagenta;
}