div{
    height:50px;
}

p{
    height:150px;
    width:400px;
    background-color:aquamarine;
}

h1{
    height: 50px;
    width: 200px;
    background-color: violet;
    /*border-style: dashed;
    border-color: brown;
    border-width: 3px;
    OR */
    border: 3px dashed brown;
    text-align: center;

}