p{
    height:150px;
    width:400px;
    background-color:aquamarine;
    padding-left: 25px;
}

div{
    height:50px;
    width: 150px;
    color:rgb(80, 1, 1);
    border: 3px solid black;
    background-color: burlywood;
    
}

h1{
    height: 50px;
    width: 200px;
    background-color: violet;
    /*border-style: dashed;
    border-color: brown;
    border-width: 3px;
    OR */
    border: 3px dashed brown;
    text-align: center;
    border-radius: 10px;
}