*{
    margin: 0;
    font-family: 'Poppins';
    border: border-box;
    text-decoration: none;
}


/** HEADER START **/
.bg-logo{
    height: 670px;
    background-image: linear-gradient( rgba(0,0,0,0.85),rgba(0,0,0,0.85)) ,url("Images/header-image.png");
    background-size: cover ;
    background-position: center;
    position: relative;
}

.top-logo{
    height: 60px;
    width: 300px;
    background-image: url("Images/logo.png");
    background-repeat: no-repeat;
    background-size: 50% 63%;
    position: absolute;
    top: 25px;
    left: 160px;
}

.language{
    height: 32px;
    width: 120px;
    text-align: center;
    position: absolute;
    top:30px;
    right: 240px;
    background: rgba(84, 83, 83, 0.2);
    color: white;
    border-radius:6px ;
    border: 0.3px #d7d3d3 solid;
    font-size: 17px;    
}

.sign-in{
    height: 26px;
    width: 85px;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    top:31.5px;
    right: 135px;
    background: rgb(255, 0, 0);
    color: white;
    border-radius:4px ;
    font-size: 17px;
    font-weight: 650;
}

/** HEADER COMPLETE  **/