div{
    height: 300px;
    width: 300px;
    background-image: url(bg_photo2.jpg);
    background-size: cover;
    font-weight: 900;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}